<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Menu_Register.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{83,178}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{83,178}}</string>
                <key>sourceSize</key>
                <string>{89,184}</string>
            </dict>
            <key>PASSWORD.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,167},{107,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,35}}</string>
                <key>sourceSize</key>
                <string>{109,37}</string>
            </dict>
            <key>USERNAME.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{107,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{107,35}}</string>
                <key>sourceSize</key>
                <string>{109,37}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,441},{42,52}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{42,52}}</string>
                <key>sourceSize</key>
                <string>{68,54}</string>
            </dict>
            <key>back_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,485},{42,52}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{42,52}}</string>
                <key>sourceSize</key>
                <string>{68,54}</string>
            </dict>
            <key>check.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,495},{42,50}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{42,50}}</string>
                <key>sourceSize</key>
                <string>{68,54}</string>
            </dict>
            <key>check_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,481},{50,50}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{50,50}}</string>
                <key>sourceSize</key>
                <string>{68,54}</string>
            </dict>
            <key>dark_pixel.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,104},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>effects.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,386},{89,53}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{89,53}}</string>
                <key>sourceSize</key>
                <string>{103,61}</string>
            </dict>
            <key>effects_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,440},{89,53}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{89,53}}</string>
                <key>sourceSize</key>
                <string>{103,61}</string>
            </dict>
            <key>forward.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,495},{42,52}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,1},{42,52}}</string>
                <key>sourceSize</key>
                <string>{68,54}</string>
            </dict>
            <key>forward_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,441},{42,52}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,1},{42,52}}</string>
                <key>sourceSize</key>
                <string>{68,54}</string>
            </dict>
            <key>gameplay.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,204},{104,55}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{104,55}}</string>
                <key>sourceSize</key>
                <string>{112,57}</string>
            </dict>
            <key>gameplay_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,261},{104,55}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{104,55}}</string>
                <key>sourceSize</key>
                <string>{112,57}</string>
            </dict>
            <key>homebase_zone.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,111},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
            <key>loader_wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,80},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,20},{22,20}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>login.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,279},{69,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{69,51}}</string>
                <key>sourceSize</key>
                <string>{69,53}</string>
            </dict>
            <key>login_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,442},{69,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{69,51}}</string>
                <key>sourceSize</key>
                <string>{69,53}</string>
            </dict>
            <key>long_slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{222,30}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{222,30}}</string>
                <key>sourceSize</key>
                <string>{230,54}</string>
            </dict>
            <key>long_slider_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,80},{222,30}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{222,30}}</string>
                <key>sourceSize</key>
                <string>{230,54}</string>
            </dict>
            <key>music.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{72,53}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{72,53}}</string>
                <key>sourceSize</key>
                <string>{86,57}</string>
            </dict>
            <key>music_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,426},{72,53}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{72,53}}</string>
                <key>sourceSize</key>
                <string>{86,57}</string>
            </dict>
            <key>mute.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,226},{62,51}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,51}}</string>
                <key>sourceSize</key>
                <string>{92,57}</string>
            </dict>
            <key>mute_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,426},{62,51}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,51}}</string>
                <key>sourceSize</key>
                <string>{92,57}</string>
            </dict>
            <key>options.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,372},{92,52}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{92,52}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>options_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{94,53}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,53}}</string>
                <key>sourceSize</key>
                <string>{100,55}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,171},{56,53}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{56,53}}</string>
                <key>sourceSize</key>
                <string>{64,55}</string>
            </dict>
            <key>play_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,479},{56,53}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{56,53}}</string>
                <key>sourceSize</key>
                <string>{64,55}</string>
            </dict>
            <key>register.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,318},{97,52}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,52}}</string>
                <key>sourceSize</key>
                <string>{105,56}</string>
            </dict>
            <key>register_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,331},{97,52}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,52}}</string>
                <key>sourceSize</key>
                <string>{105,56}</string>
            </dict>
            <key>reset_homebase.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,154},{156,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{156,53}}</string>
                <key>sourceSize</key>
                <string>{160,55}</string>
            </dict>
            <key>reset_homebase_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{156,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{156,53}}</string>
                <key>sourceSize</key>
                <string>{160,55}</string>
            </dict>
            <key>set_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,290},{121,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,39}}</string>
                <key>sourceSize</key>
                <string>{121,39}</string>
            </dict>
            <key>set_button_pr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{121,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,39}}</string>
                <key>sourceSize</key>
                <string>{121,39}</string>
            </dict>
            <key>set_homebase.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,209},{144,51}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,51}}</string>
                <key>sourceSize</key>
                <string>{146,55}</string>
            </dict>
            <key>set_homebase_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{144,51}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,51}}</string>
                <key>sourceSize</key>
                <string>{146,55}</string>
            </dict>
            <key>sign_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{96,53}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,53}}</string>
                <key>sourceSize</key>
                <string>{100,55}</string>
            </dict>
            <key>sign_out_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,385},{96,53}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,53}}</string>
                <key>sourceSize</key>
                <string>{100,55}</string>
            </dict>
            <key>slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,112},{176,40}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{176,40}}</string>
                <key>sourceSize</key>
                <string>{180,54}</string>
            </dict>
            <key>slider_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,372},{34,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{34,34}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>slider_point_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,533},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>small_slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,209},{124,26}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,26}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>small_slider_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,262},{124,26}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,26}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>small_slider_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,262},{22,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{22,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>social.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,112},{76,53}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,53}}</string>
                <key>sourceSize</key>
                <string>{80,55}</string>
            </dict>
            <key>social_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,332},{76,53}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,53}}</string>
                <key>sourceSize</key>
                <string>{80,55}</string>
            </dict>
            <key>sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,331},{73,53}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{73,53}}</string>
                <key>sourceSize</key>
                <string>{85,57}</string>
            </dict>
            <key>sound_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,387},{73,53}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{73,53}}</string>
                <key>sourceSize</key>
                <string>{85,57}</string>
            </dict>
            <key>text_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{469,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{469,76}}</string>
                <key>sourceSize</key>
                <string>{471,78}</string>
            </dict>
            <key>transparent.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MenuLogInMainHBOptRegSound.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e507fbd4ebb0406520b5fd6704b06e80$</string>
            <key>textureFileName</key>
            <string>MenuLogInMainHBOptRegSound.png</string>
        </dict>
    </dict>
</plist>
